@tailwind base;
@tailwind components;

@font-face{
  font-family: "PT Sans";
  src: url("./assets/PTSans-Regular.ttf") format("truetype");
}    

@font-face{
  font-family: "PT Sans Narrow";
  src: url("./assets/PTSansNarrow-Regular.ttf") format("truetype");
}    

@tailwind utilities;


